body {
  font-family: 'Montserrat',sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Montserrat', sans-serif;
}


/* ----------- Headings ----------*/
.big-heading {
line-height: 1.5;
font-weight: 600;
color: #fff;
}

.note-title, .note-title-small {
  text-align: left;
  font-family: 'Montserrat' sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.note-title-small {
  font-size: 1rem;
}





/******* Class Selectors ***********/
/* Navigation Bar */
.nav-item {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  padding: 0 18px;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  display: block;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/* ---------- Navbar & Title ---------- */
.title {
  background: linear-gradient(#FF8FB1, #C6DCE4);
  display: block;
  text-align: left;
}

.container-fluid {
  padding: 3% 5% 5%;
  text-align: left;

}


/*@media (min-width: 570px) and (max-width: 1028px) {
  .title .navbar-brand {
    text-align: center;
  }
  .iphone6 {
    position: static;
    transform: rotate(0);
    margin: 30px 0 0;
  }
}
*/


/* ---------- Features ---------- */
.features {
  padding: 2% 20%;
  background-color: #fff;
  position: relative;
  z-index: 1;

}

.feature-box {
  padding: 4%;
  color: #8f8f8f;


}

.features-heading {
  padding-top: 7%;
  font-size: 1.75rem;
  color: #8f8f8f;
  font-weight: 500;

}
/* For hover-over icon effect
.fa-bullseye {
  color: #ef8172;
}
.fa-bullseye:hover {
  color: #ff4c68;
}
*/




/* ------------ HTML Notes SECTION ----------- */
.HTML {
  background-color: #C6DCE4;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 0;
  text-align: left;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 18px 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* ------------ CSS SECTION ----------- */
.randomcontainer {
  text-align: center;
width: 100px;
height: 100px;
background-color: #E4DCCF;
}

.Brand {
  text-decoration: underline;
}

.float1 {
  width: 100px;
  height: 100px;
  background-color: green;
  float: left;
  margin-right: 30px;
}
.float2-clear {
  clear:left;
}



/* ----------- Javascript Section ------------ */

.JavaScript-Notes {
  background-color: #C6DCE4;
}

.leapYear {
float:left;
width: 25rem;
}

.leapYearCalc {
  padding-left: 1rem;
}

.nonFloat {
  clear:left;
}


/* ---------- Testimonials Section ---------- */
.testimonials {
  background-color: #fff;
  color: #fff;
}

.testimonial-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}

/* ---------- Hyper Terminal Section ------------*/
.hyperTerminal{
    background-color: #C6DCE4;
}


/* ---------- API Section ------------*/
.apis{
  background-color: #C6DCE4;
}

/* ---------- EJS Section ------------*/
.ejsSection{
  background-color: #C6DCE4;
}



/* ---------- IMAGES ------------*/
.leapYearCalc {
  width: 20rem;
  float:left;
}

.pushPop {
  width: 25rem;
}

.whosPayin, .fizzBuzz, .whileLoop, .fizzBuzzLoop, .forLoop, .forWhileLoops, .fizzBuzzforLooped, .calcBottles, .exampleFunction {
  width: 40rem;
}

.lifeInWeeks {
  width: 50rem;
}

.fiboGenerator, .fiboGeneratorClean, .buttonPropMeth, .domChallenge2, .inlineJS,
.internalJS, .externalJS, .domSearch, .domManipulate, .eventListener, .anonymousFunction, .thisKeyword, .constructorFunction, .switchForSounds, .objectMethods  {
  width: 35rem;
}

.domChallenge1,  {
  width: 15rem;
}

.drumBottons, .clickExample, .higherOrder, .houseKeeper1, .switchStatement, .angelaObjectMethod, .createOperations, .readOperations, .collectionsDB {
  width: 35rem;
}


.expressSetup, .expressSetup2, .aboutRoute, .setupTask, .formCalculator, .connectJSON, .bmiCalc, .apiOverview, .currentWeather, .Postman1,
.Postman2, .setupExpress, .setupExpress2, .responseStatusCode, .weatherData, .weatherData2, .getURL, .weatherChallenge, .weatherChallenge2, .weatherIcon,
.userLocation1, .userLocation2, .sendFile, .formPostrequest, .catchRequest, .bodyParser, .queryCityName, .cssConnection, .appSetup, .dayLogic, .cleanGetDay, .resWrite, .sendFile, .kindOfDay, .kindOfDay2, .ifelseDay,
.switchDay, .insideEJS, .formData, .getnewItem, .getnewItem, .itemPost, .itemsPush, .sameLine, .forloopList, .scopeFunction, .mainPackage, .expressStatic, .headerEJS, .footerEJS, .dateEJS, .functionEJSk, .requireEJS, .moduleExport,
.getdayEJS, .dategetdayEJS, .deleteOperations


{
  width: 40rem;
}


/* ---------- Karussell ---------- */

.active, .testimonials{
  background: linear-gradient(#C6DCE4, #FF8FB1);
}
.press-images {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}
